@import "/colors";

.card-bg{
    width: 300px;
    height: 250px;
    background-color: $elementBackground;
    border-radius: 3px;
    box-shadow: 1.5px 2px rgb(83, 83, 83);
    margin: 8px;
}
.card-header{
    height: 25%;
    background-color: $pageBackground;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.credits{
    width: 100px;
    height: 30px;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    padding-top: 4px;
    border: 0.3px solid gray;
}
.card-body{
    margin-left: 20px;
}